<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <form action="/movies" method="POST">


        <h1></h1>


        <h2> <label for="title" class="form-label">Nombre de la movie:</label>
            <input type="text" id="title" name="title" placeholder="Un nombre cualquiera" class="form-input"> </h2>
              
        <h3> <label for="rating" class="form-label">Rating de la movie:</label>
            <input type="text" id="rating" name="rating" placeholder="Any Rating" class="form-input"> </h3>

        <h3> <label for="awards" class="form-label">Awards de la movie:</label>
            <input type="text" id="awards" name="awards" placeholder="X amount of awards" class="form-input"> </h3>    

        <h3> <label for="length" class="form-label">Length de la movie:</label>
            <input type="text" id="length" name="length" placeholder="Any Length" class="form-input"> </h3>  

            

        <button type="submit" class="">Guardar movie</button>
    
    </form>




</body>
</html>